# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.env.*
.env.local
.venv

# Node.js
node_modules/
dist/
build/
.npm/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo

# Project specific
ariani_db
*.sqlite3
*.log
